openapi: "3.1.0"
info:
  title: "Plaza API"
  description: >
    Customer-facing web portal and UI.
    This specification was generated by the NizamIQ OpenAPI Assessment & Governance
    Remediation Agent on 2026-03-29 and reflects the runtime API surface as discovered
    through code review. Human review is required before treating this as authoritative.
  version: "1.0.0"
  contact:
    name: NizamIQ Engineering
    url: https://github.com/nizamiq/Plaza
  license:
    name: Proprietary
    url: https://nizamiq.com/legal

servers:
  - url: https://api.nizamiq.com
    description: Production
  - url: http://localhost:8000
    description: Local development

paths:
  /api/v1/health:
    get:
      summary: Health check
      operationId: get_api_v1_health
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /api/v1/dashboard:
    get:
      summary: Get dashboard data
      operationId: get_api_v1_dashboard
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /api/v1/profile:
    get:
      summary: Get user profile
      operationId: get_api_v1_profile
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /api/v1/profile:
    put:
      summary: Update user profile
      operationId: put_api_v1_profile
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

components:
  schemas:
    SuccessResponse:
      type: object
      properties:
        data:
          type: object
        message:
          type: string
    ErrorResponse:
      type: object
      required: [error, message]
      properties:
        error:
          type: string
        message:
          type: string
        details:
          type: object
  responses:
    BadRequest:
      description: Bad request — invalid input
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: Unauthorized — missing or invalid Zitadel JWT
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    InternalServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    securitySchemes:
      bearerAuth:
        type: http
        scheme: bearer
        bearerFormat: JWT
        description: >
          Zitadel OIDC JWT token. Obtain via the Zitadel authorization server
          at https://auth.nizamiq.com/oauth/v2/token
